.Notifications {
  padding: 1rem;
  border: 0.15rem dashed #E0354B;
}

.Notifications li[data-notification-type = "default"] {
  color: blue;
}

.Notifications li[data-notification-type = "urgent"] {
  color: red;
}